
* {
  margin: 1px;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: #ffffff; }

:root {
  --font-13: 1.3rem
; }

.a {
  margin-left: 2rem;
  width: 14%;
  list-style: none;
  background: #22438C;
}

.b {
  display: inline-block;
  position: relative;
}

.c {
  display: block;
  padding: 20px 20px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.e {
  display: block;
}

.dropdown {
  width: 100%;
  background: #22438C;
  position: absolute;
  z-index: 999;
  display: none;
}

.c:hover {
  background: #2f529b;
}

.b:hover .dropdown {
  display: block;
}

.fl {
  padding: 10rem;
  display: flex;
  justify-content: start;
  background: #2f529b;
}

.txt {
  font-size: 1rem;
  color: #FFF;
}